---
import Page from '../../layouts/Page.astro';
import MicStream from '../../components/MicStream.jsx';
import FFTPlot from '../../components/FFTPlot.jsx';
---

<Page>
	<h1>Audio</h1>
	<MicStream client:load />
	<div class="w-1/2 h-1/2">
		<FFTPlot client:load />
	</div>
</Page>
